<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

<system.serviceModel> 
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="Default" name="RESTFulWCFService.Barcode">
        <!--<endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding"   contract="RESTFulWCFService.IBarcode" />-->
        <endpoint address="" behaviorConfiguration="webBehavior" binding="customBinding"  bindingConfiguration="customBinding0" contract="RESTFulWCFService.IBarcode" />
        <!--<endpoint address="http://10.49.170.56:61090/Updator1.svc"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DataAccess"
               contract="svcMyService.DataAccess" name="BasicHttpBinding_DataAccess" />-->

        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      <service behaviorConfiguration="Default" name="RESTFulWCFService.Updator1">
               <endpoint address="" behaviorConfiguration="webBehavior" binding="customBinding"  bindingConfiguration="customBinding0" contract="RESTFulWCFService.IUpdator1" />
        <endpoint address="mex"
               binding="mexHttpBinding"
               contract="IMetadataExchange"/>
      </service>

      <!--<service behaviorConfiguration="Web.MyServiceBehavior" name="TestLargeWCF.Web.MyService">
        <endpoint address=""
                 binding="customBinding"
                 bindingConfiguration="customBinding0"
                 contract="TestLargeWCF.Web.MyService"/>
        <endpoint address="mex"
                 binding="mexHttpBinding"
                 contract="IMetadataExchange"/>
      </service>-->
      
    </services>
    <behaviors>
        <endpointBehaviors>
            <behavior name="webBehavior">
                <webHttp helpEnabled="true" />
            </behavior>
        </endpointBehaviors>
        <serviceBehaviors>
            <behavior name="Default">
                <serviceMetadata httpGetEnabled="true" />
            </behavior>
            <behavior name="">
                <serviceMetadata httpGetEnabled="true" />
                <serviceDebug includeExceptionDetailInFaults="false" />
            </behavior>
        </serviceBehaviors>
    </behaviors>

  <!--<diagnostics>
    <messageLogging
         logEntireMessage="true"
         logMalformedMessages="true"
         logMessagesAtServiceLevel="true"
         logMessagesAtTransportLevel="true"
         maxMessagesToLog="200"/>
  </diagnostics>-->
 <!-- Start change -->  <bindings>
    <customBinding>
      <binding name="customBinding0">
        <!--<binaryMessageEncoding />-->
       
        <httpTransport maxReceivedMessageSize="2097152"
                       maxBufferSize="2097152"
                       maxBufferPoolSize="2097152"/>
       
      </binding>
    </customBinding>
  </bindings> <!-- Stop change -->
</system.serviceModel>
  
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
 </system.webServer>


  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
                   switchValue="All"
                   propagateActivity="true">
        <listeners>
          <add name="traceListener" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging"
                   switchValue="All">
        <listeners>
          <add name="traceListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="service_messages.svclog" />
    </sharedListeners>
  </system.diagnostics>-->
  
  
</configuration>
